html, body {
  overflow-x: hidden; /* Prevent scroll on narrow devices */
} 

body {
  padding-top: 80px;
}

h1 {
  font-size: 28px;
  margin-bottom: 20px;
}

h2 {
  font-size: 22px;
}

h3 {
	font-size: 18px;
}

.container ul {
	margin-left: -18px;
}

.navbar-brand {
	background: url(/assets/logo.png);
	background-repeat: no-repeat;
	background-size: 105px 30px;
	width: 105px;
	height: 30px;
	margin-top: 3px;
}

.alert ul {
	margin-bottom: 0px;
}

img.wiki-icon {
	width: 32px;
	height: 32px;
	margin-top: -5px;
}

img.wiki-icon-list {
	width: 48px;
	height: 48px;
	margin: 2px;
}

img.wiki-icon-tooltip {
	width: 32px;
	height: 32px;
}

.wiki-button {
	margin-right: 10px;
}