html, body {
  overflow-x: hidden; /* Prevent scroll on narrow devices */
} 

body {
  padding-top: 80px;
}

h1 {
  font-size: 28px;
  margin-bottom: 20px;
}

h2 {
  font-size: 22px;
}

h3 {
	font-size: 18px;
}

ul {
	margin-left: -18px;
}

.navbar-brand {
	background: url(/assets/logo.png);
	background-repeat: no-repeat;
	background-size: 105px 30px;
	width: 105px;
	height: 30px;
	margin-top: 3px;
}