html, body {
	overflow-x: hidden; /* Prevent scroll on narrow devices */
	height: 100%;
}

body, .form-control {
	font-size: 16px;
	font-family: 'Source Sans Pro', sans-serif;
}

h1 {
	font-size: 28px;
	margin-bottom: 20px;
}

h2 {
	font-size: 22px;
}

h3 {
	font-size: 18px;
}

#wrap {
	min-height: 100%;
}

#main {
	overflow: auto;
	padding-bottom: 80px; /* This needs to be bigger than footer height*/
}

.btn, .btn-group .btn, .card, .breadcrumb, .nav-link .active, .alert, .nav-tabs .nav-link, .form-control, .jumbotron, .editor-toolbar, .CodeMirror {
	border-radius: 0px;
}

.badge {
	border-radius: 0px;
	font-weight: normal;
}

.badge-info {
	background: #04dfd9;
}

.jumbotron {
	background: #f7f7f9;
	padding-top: 45px;
	padding-bottom: 40px;
	margin-bottom: 15px;
}

.breadcrumb {
	border: 1px solid rgba(0, 0, 0, .125);
	background: #fff;
}

a {
	color: #04dfd9;
}

a:hover {
	color: #04cde3;
}

.form-control:focus {
	border: 1px solid #04dfd9;
}

.btn-primary {
	background: linear-gradient(45deg, #33C5F2, #0CCFBF);
	border: none;
}

.btn-primary:hover {
	background: linear-gradient(45deg, #49d4ff, #25f0df);
	border: none;
}

.btn-secondary {
	border: 1px solid rgba(0, 0, 0, .125);
}

.table tbody+tbody {
	border-top: 1px solid #f7f7f9;
}

.thead-default th {
	background: #f7f7f9;
}

.table thead th {
	border-bottom: #f7f7f9;
}

h1, h2, h3, h4, .card-header, header nav ul li {
	font-family: 'Open Sans', sans-serif;
}

header {
	padding-top: 20px;
	padding-bottom: 13px;
	margin-bottom: 20px;
	background: #f7f7f9;
}

header .logo {
	float: left;
}

header .branding {
	background: url('/assets/logo.png');
	background-repeat: no-repeat;
	background-size: 230px 60px;
	width: 230px;
	height: 60px;
	margin-left: -35px;
}

@media screen and (max-width: 1000px) {
    header .logo {
		float: none;
	}

    header .branding {
		margin: 0 auto;
		float: none;
	}
}

header .subtitle {
	color: #686868;
	padding-top: 13px;
}

@media screen and (max-width: 1000px) {
	header .subtitle {
		display: none;
	}
}

header nav {
	margin-top: 35px;
	float: right;
}

header nav ul {
	list-style-type: none;
}

header nav ul li {
	float: left;
	margin-left: 27px;
}

header nav ul li a {
	color: #292b2c;
	font-size: 17px;
}

@media screen and (max-width: 1000px) {
	header nav ul li a {
		font-size: 16px;
	}
}

@media screen and (max-width: 500px) {
	header nav ul li.can-hide {
		display: none;
	}
}

header nav ul li.active a {
	color: #04dfd9;
}

header nav ul li a:hover {
	color: #04dfd9;
	text-decoration: none;
}

@media screen and (max-width: 1000px) {
	header nav {
		float: none;
	}

	header nav ul {
		display: flex;
		justify-content: center;
		margin-bottom: 0px;
	}
}

.carousel-main {
	height: 250px;
	margin-top: -20px;
	margin-bottom: 20px;
}

@media screen and (max-width: 850px) {
	.carousel-main {
		display: none;
	}
}

.carousel-image-1 {
	width: 100%;
	height: 250px;
	background: url('https://i.imgur.com/PkXejMC.jpg');
	background-repeat: no-repeat;
	background-position: 20% 75%;
	background-size: cover;
}

.carousel-image-2 {
	width: 100%;
	height: 250px;
	background: url('https://i.imgur.com/QczLPjt.jpg');
	background-repeat: no-repeat;
	background-position: 20% 75%;
	background-size: cover;
}

.carousel-image-3 {
	width: 100%;
	height: 250px;
	background: url('https://i.imgur.com/OLPN0AJ.jpg');
	background-repeat: no-repeat;
	background-position: 20% 75%;
	background-size: cover;
}

footer {
	position: relative;
	margin-top: -60px; /* Negative value of footer height */
	height: 60px;
	clear: both;
	padding-top: 20px;
    background-color: #f7f7f9;
	color: #636c72;
}

footer nav {
	float: right;
}

footer nav ul {
	list-style-type: none;
}

footer nav ul li {
	float: left;
	margin-left: 27px;
}

.container ul {
	margin-left: -18px;
}

.btn-group {
	margin-bottom: 15px;
}

.sidebar ul:last-child, p:last-child, .table:last-child, .alert ul {
	margin-bottom: 0px;
}

img.wiki-icon {
	width: 32px;
	height: 32px;
	margin-top: -5px;
}

img.wiki-icon-list {
	width: 48px;
	height: 48px;
	margin: 2px;
}

img.wiki-icon-tooltip {
	width: 32px;
	height: 32px;
}

.wiki-button {
	margin-right: 10px;
}
