{% extends "layout.html" %}

{% block title %}Home{% endblock %}

{% block content %}
<div class="row row-offcanvas row-offcanvas-right">
  <div class="col-sm-9">
    <p class="float-xs-right hidden-sm-up">
      <button type="button" class="btn btn-primary btn-sm" data-toggle="offcanvas">Toggle nav</button>
    </p>

    <h1>Refined Storage is a mass storage mod for Minecraft 1.10.2.</h1>

    <p>Refined Storage gives players access to all their items and fluids at once. These are stored safely in one of the many storage capabilities that the mod offers.</p>

    <p>The mod is not only used to get access to items in one handy interface, but it is also used to manipulate items and blocks in the world and from the system with importers, exporters, constructors, destructors, and more!</p>

    <p>Refined Storage takes the storage aspect of the mod one step further by allowing the player to set up autocrafting.</p>
  </div>
  <div class="col-sm-3 sidebar-offcanvas" id="sidebar">
    <div class="card">
      <div class="card-header">
        Latest version
      </div>
      <div class="card-block text-xs-center">
        <h5 class="card-title">Refined Storage 1.2.4</h5>
        <p class="card-text">Requires <a href="https://minecraft.curseforge.com/projects/mcmultipart">MCMultiPart</a>.</p>
        <a href="/" class="btn btn-primary">Download &raquo;</a>
      </div>
    </div>
  </div>
</div>
{% endblock %}