{% extends "layout.html" %}

{% block title %}Home{% endblock %}

{% block content %}
<div class="row row-offcanvas row-offcanvas-right">
  <div class="col-sm-9">
    <p class="float-xs-right hidden-sm-up">
      <button type="button" class="btn btn-primary btn-sm" data-toggle="offcanvas">Toggle nav</button>
    </p>

    {{ landing.revision.body|raw }}

    {% if can('editor') %}
      <a href="/wiki/{{ landing.url }}/edit" class="btn btn-secondary btn-sm"><span class="fa fa-pencil"></span> Edit</a>
    {% endif %}
  </div>
  <div class="col-sm-3 sidebar-offcanvas" id="sidebar">
    <div class="card">
      <div class="card-header">
        Latest stable version
      </div>
      <div class="card-block text-xs-center">
        <h5 class="card-title">Refined Storage {{ latest.version }}</h5>
        <p class="card-text">For Minecraft {{ latest.mc_version }}.</p>
        <a href="/releases/{{ latest.id }}" class="btn btn-primary">Download &raquo;</a>

        <div class="clearfix" style="margin-bottom: 15px"></div>

        <small class="card-text">Requires <a href="https://minecraft.curseforge.com/projects/mcmultipart">MCMultiPart</a>.</small>
      </div>
    </div>
  </div>
</div>
{% endblock %}