{% extends "layout.html" %}

{% block title %}Home{% endblock %}

{% block content %}
<div class="row row-offcanvas row-offcanvas-right">
  <div class="col-sm-9">
    <div class="jumbotron">
      <h1 class="display-5">Refined Storage</h1>
      <p class="lead">Refined Storage is a mass storage mod for Minecraft that offers the player a network-based storage system, allowing them to store items and fluids on a massively expandable device network.</p>
      <hr class="my-4">
      <p>Items and fluids can be stored in one of the many storage capabilities that the mod offers. Any storage devices connected to the same network are accessible to the player through one simple Grid interface, allowing the player to access the inventories of many devices through a single unified GUI.</p>
      <p>This mod not only adds storage solutions, but also devices that can be used to manipulate items and blocks in the world and from within the system, such as importers, exporters, constructors, destructors, and more! There are also devices in this mod that allow the player to setup auto-crafting, allowing the crafting of complex recipes in a few simple clicks.</p>
      <p class="lead">
        <a class="btn btn-primary btn-lg" href="/wiki/getting-started" role="button">Get started</a>
      </p>
    </div>

    <div id="accordion" role="tablist" aria-multiselectable="true">
      <div class="card">
        <div class="card-header" role="tab" id="blocksHeading">
          <a data-toggle="collapse" data-parent="#accordion" href="#blocks" aria-expanded="true" aria-controls="blocks">Blocks</a>
        </div>

        <div id="blocks" class="collapse show" role="tabpanel" aria-labelledby="blocksHeading">
          <div class="card-block">
            {{ icons('Controller,Grid,Crafting Grid,Pattern Grid,Fluid Grid,Crafting Monitor,Storage Monitor,Crafter,Processing Pattern Encoder,Disk Drive,1k Storage Block,4k Storage Block,16k Storage Block,64k Storage Block,Creative Storage Block,64k Fluid Storage Block,128k Fluid Storage Block,256k Fluid Storage Block,512k Fluid Storage Block,Creative Fluid Storage Block,Solderer,Cable,Importer,Exporter,Reader,Writer,External Storage,Constructor,Destructor,Detector,Relay,Interface,Fluid Interface,Wireless Transmitter,Machine Casing,Block of Quartz Enriched Iron,Network Transmitter,Network Receiver,Security Manager,Disk Manipulator')|raw }}
            <div class="clearfix"></div>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header" role="tab" id="itemsHeading">
          <a data-toggle="collapse" data-parent="#accordion" href="#items" aria-expanded="true" aria-controls="items">Items</a>
        </div>

        <div id="items" class="collapse hide" role="tabpanel" aria-labelledby="itemsHeading">
          <div class="card-block">
            {{ icons('Quartz Enriched Iron,1k Storage Disk,4k Storage Disk,16k Storage Disk,64k Storage Disk,Creative Storage Disk,64k Fluid Storage Disk,128k Fluid Storage Disk,256k Fluid Storage Disk,512k Fluid Storage Disk,Creative Fluid Storage Disk,Storage Housing,Pattern,1k Storage Part,4k Storage Part,16k Storage Part,64k Storage Part,64k Fluid Storage Part,128k Fluid Storage Part,256k Fluid Storage Part,512k Fluid Storage Part,Wireless Grid,Wireless Fluid Grid,Wireless Crafting Monitor,Printed Basic Processor,Printed Improved Processor,Printed Advanced Processor,Basic Processor,Improved Processor,Advanced Processor,Printed Silicon,Construction Core,Destruction Core,Silicon,Upgrade,Range Upgrade,Speed Upgrade,Crafting Upgrade,Stack Upgrade,Interdimensional Upgrade,Silk Touch Upgrade,Fortune Upgrade,Filter,Network Card,Security Card,Wrench')|raw }}
            <div class="clearfix"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-3 sidebar-offcanvas" id="sidebar">
    <div class="card" style="margin-bottom: 15px">
      <div class="card-header">
        Latest stable release
      </div>
      <div class="card-block text-center">
        <h5 class="card-title">Refined Storage {{ latest.version }}</h5>
        <p class="card-text">For Minecraft {{ latest.mc_version }}.</p>
        <a href="/releases/{{ latest.id }}" class="btn btn-primary">Download</a>

        <div class="clearfix" style="margin-bottom: 15px"></div>

        <small class="card-text">Requires <a href="https://minecraft.curseforge.com/projects/mcmultipart">MCMultiPart</a>.</small>
      </div>
    </div>

    <div class="card" style="margin-bottom: 15px">
      <div class="card-header">
        Recent releases
      </div>
      <div class="card-block">
        {% for name, release in releases %}
          <div class="pull-left">
            <b>Minecraft {{ name }}</b>
            <p {% if loop.last %}style="margin-bottom: 0px"{% endif %}>Refined Storage {{ release.version }}</p>
          </div>
          <div class="pull-right">
            <a style="margin-top: 14px" href="/releases/{{ release.id }}" class="btn btn-primary btn-sm pull-right"><span class="fa fa-download"></span></a>
          </div>
          <div class="clearfix"></div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
{% endblock %}