{% set user = getUser() %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="Refined Storage">
  <meta name="author" content="Refined Storage authors">
  <title>Refined Storage - {% block title %}{% endblock %}</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/css/bootstrap.min.css" integrity="sha384-AysaV+vQoT3kOAXZkl02PThvDr8HYKPZhNT5h/CXfBThSRXQ6jW5DO2ekP5ViFdi" crossorigin="anonymous">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="/assets/style.css">
  <link rel="stylesheet" href="/assets/simplemde.min.css">
  <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
  <script src="/assets/simplemde.min.js"></script>
</head>
<body>
  <nav class="navbar navbar-fixed-top navbar-dark bg-inverse">
    <div class="container">
      <a class="navbar-brand" href="/">
      </a>
      <ul class="nav navbar-nav">
        <li class="nav-item {% if uri() == '/' %}active{% endif %}">
          <a class="nav-link" href="/">Home</a>
        </li>
        <li class="nav-item {% if 'releases' in uri() %}active{% endif %}">
          <a class="nav-link" href="/releases">Releases</a>
        </li>
        <li class="nav-item {% if 'wiki' in uri() %}active{% endif %}">
          <a class="nav-link" href="/wiki">Wiki</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://github.com/raoulvdberge/refinedstorage/issues">Issues</a>
        </li>
        {% if user == null %}
        <li class="nav-item {% if uri() == '/login' %}active{% endif %}">
          <a class="nav-link" href="/login">Login</a>
        </li>
        {% else %}
        <li class="nav-item">
          <a class="nav-link" href="/logout">Logout</a>
        </li>
        {% endif %}
      </ul>

      <form class="float-xs-right" method="post" action="/search">
        <input type="text" name="query" class="form-control" placeholder="Search...">
      </form>
    </div>

  </nav>
  <div class="container">
    {% block content %}
    {% endblock %}
    <hr>
    <footer>
      <center>
        <p>&copy; Refined Storage authors</p>
      </center>
    </footer>
  </div>
</body>
</html>