{% extends "layout.html" %}

{% block title %}{{ profile.username }}{% endblock %}

{% block content %}
<h1>{{ profile.username }}</h1>
<table class="table table-reflow">
  <tr>
    <th scope="row">Registration date</th>
    <td><span>{{ profile.date_created|date("Y-m-d H:i:s") }}</span></td>
  </tr>
  <tr>
    <th scope="row">Role</th>
    <td><span>{{ role(profile.role) }}</span></td>
  </tr>
</table>

<h2>Release activity</h2>
{% if releaseActivity|length == 0 %}
  <p>This user has no release activity yet.</p>
{% else %}
  <table class="table">
    <thead class="thead-default">
      <tr>
        <th width="40%">Version</th>
        <th width="30%">Date<span class="can-hide"> released</span></th>
        <th width="30%">Minecraft<span class="can-hide"> version</span></th>
      </tr>
    </thead>
    <tbody>
      {% for release in releaseActivity %}
      <tr {% if release.status == 1 %}class="table-danger"{% endif %}>
        <td><a href="/releases/{{ release.id }}"><span class="can-hide">Refined Storage </span>{{ release.version }}</a> {{ getReleaseBadge(release.type)|raw }}</td>
        <td>{{ release.date|date("Y-m-d") }}</td>
        <td>{{ release.mc_version }}</td>
      </tr>
    </tbody>
    {% endfor %}
  </table>
{% endif %}

<h2>Wiki activity</h2>
{% if wikiActivity|length == 0 %}
  <p>This user has no wiki activity yet.</p>
{% else %}
  <table class="table">
    <thead class="thead-default">
      <tr>
        <th width="40%">Wiki</th>
        <th width="60%">Date</th>
      </tr>
    </thead>
    <tbody>
      {% for revision in wikiActivity %}
      <tr>
        <td><a href="/wiki/{{ revision.wiki.url }}/{{ revision.hash }}">{{ revision.wiki.name }}</a></td>
        <td>{{ revision.date|date("Y-m-d H:i:s") }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
{% endif %}
{% endblock %}