{% extends "layout.html" %}

{% block title %}Releases{% endblock %}

{% block content %}
<h1 class="float-lg-left">Releases</h1>

<div class="float-lg-right"><a href="{{ latest.url }}" class="btn btn-secondary"><span class="fa fa-external-link"></span> View latest stable on CurseForge</a></div>

<div class="float-lg-right" style="margin-right: 10px"><a href="{{ latest.url }}/download" class="btn btn-secondary"><span class="fa fa-download"></span> Download latest stable ({{ latest.version }})</a></div>

{% if can('contributor') %}
  <div class="float-lg-right" style="margin-right: 10px"><a href="/releases/create" class="btn btn-secondary"><span class="fa fa-plus"></span> Create</a></div>
{% endif %}

<div class="clearfix"></div>

<ol class="breadcrumb">
  <li class="breadcrumb-item active">Releases</li>
</ol>

<table class="table">
  <thead class="thead-default">
    <tr>
      <th width="30%">Version</th>
      <th width="20%">Date released</th>
      <th width="20%">Minecraft version</th>
      <th width="20%">Released by</th>
      <th width="10%">Download</th>
    </tr>
  </thead>
  <tbody>
    {% for release in releases %}
    <tr {% if release.status == 1 %}class="table-danger"{% endif %}>
      <td><a href="/releases/{{ release.id }}">Refined Storage {{ release.version }}</a> {{ getReleaseBadge(release.type)|raw }}</td>
      <td>{{ release.date|date("m/d/Y") }}</td>
      <td>{{ release.mc_version }}</td>
      <td><a href="/profile/{{ release.user.username }}">{{ release.user.username }}</a></td>
      <td><center><a href="{{ release.url }}/download" class="btn btn-secondary btn-sm"><span class="fa fa-download"></span></a></center></td>
    </tr>
  </tbody>
  {% endfor %}
</table>
{% endblock %}