{% extends "layout.html" %}

{% block title %}Releases{% endblock %}

{% block content %}
<h1 class="float-lg-left">Releases</h1>

<div class="btn-group float-lg-right" role="group">
  <a href="{{ latest.url }}/download" class="btn btn-secondary"><span class="fa fa-download"></span> Download latest stable ({{ latest.version }})</a>
  <a href="{{ latest.url }}" class="btn btn-secondary"><span class="fa fa-external-link"></span> View latest stable on CurseForge ({{ latest.version }})</a>
  {% if can('contributor') %}
    <a href="/releases/create" class="btn btn-secondary"><span class="fa fa-plus"></span> Create</a>
  {% endif %}
</div>

<div class="clearfix"></div>

<ol class="breadcrumb">
  <li class="breadcrumb-item active">Releases</li>
</ol>

<center>
  <div class="btn-group" role="group">
    <a class="btn btn-secondary {% if page == 0 %}disabled{% endif %}" href="?page={{ page }}"><span class="fa fa-angle-left"></span></a>
    {% for i in 1..pagesTotal %}
      <a class="btn btn-secondary {% if page + 1 == i %}active{% endif %}" href="?page={{ i }}">{{ i }}</a>
    {% endfor %}
    <a class="btn btn-secondary {% if page == pagesTotal - 1 %}disabled{% endif %}" href="?page={{ page + 2 }}"><span class="fa fa-angle-right"></span></a>
  </div>
</center>

<table class="table">
  <thead class="thead-default">
    <tr>
      <th width="30%">Version</th>
      <th width="20%">Date released</th>
      <th width="20%">Minecraft version</th>
      <th width="20%">Released by</th>
      <th width="10%">Download</th>
    </tr>
  </thead>
  <tbody>
    {% for release in releases %}
    <tr {% if release.status == 1 %}class="table-danger"{% endif %}>
      <td><a href="/releases/{{ release.id }}">Refined Storage {{ release.version }}</a> {{ getReleaseBadge(release.type)|raw }}</td>
      <td>{{ release.date|date("m/d/Y") }}</td>
      <td>{{ release.mc_version }}</td>
      <td><a href="/profile/{{ release.user.username }}">{{ release.user.username }}</a></td>
      <td><center><a href="{{ release.url }}/download" class="btn btn-secondary btn-sm"><span class="fa fa-download"></span></a></center></td>
    </tr>
  </tbody>
  {% endfor %}
</table>

<center>
  <div class="btn-group" role="group">
    <a class="btn btn-secondary {% if page == 0 %}disabled{% endif %}" href="?page={{ page }}"><span class="fa fa-angle-left"></span></a>
    {% for i in 1..pagesTotal %}
      <a class="btn btn-secondary {% if page + 1 == i %}active{% endif %}" href="?page={{ i }}">{{ i }}</a>
    {% endfor %}
    <a class="btn btn-secondary {% if page == pagesTotal - 1 %}disabled{% endif %}" href="?page={{ page + 2 }}"><span class="fa fa-angle-right"></span></a>
  </div>
</center>
{% endblock %}