{% extends "layout.html" %}

{% block title %}{{ release.version }}{% endblock %}

{% block content %}
<h1 class="float-lg-left">Releases</h1>

<div class="float-lg-right"><a href="{{ release.url }}/download" class="btn btn-secondary"><span class="fa fa-download"></span> Download</a></div>

{% if user != null %}
  {% if release.status == 0 %}
    <div class="float-lg-right" style="margin-right: 10px"><a href="/releases/{{ release.id }}/delete" class="btn btn-secondary"><span class="fa fa-trash-o"></span> Delete</a></div>
  {% elseif release.status == 1 %}
    <div class="float-lg-right" style="margin-right: 10px"><a href="/releases/{{ release.id }}/restore" class="btn btn-secondary"><span class="fa fa-history"></span> Restore</a></div>
  {% endif %}
{% endif %}

<div class="clearfix"></div>

<ol class="breadcrumb">
  <li class="breadcrumb-item"><a href="/releases">Releases</a></li>
  <li class="breadcrumb-item active">{{ release.version }}</li>
</ol>

<table class="table table-reflow">
  <thead>
    <tr>
      <th>Version</th>
      <th>Released by</th>
      <th>Date released</th>
      <th>Minecraft version</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>{{ release.version }} {{ getReleaseBadge(release.type)|raw }}</span></td>
      <td>{{ release.user.username }}</td>
      <td>{{ release.date|date("m/d/Y") }}</td>
      <td>{{ release.mc_version }}</td>
    </tr>
  </tbody>
</table>

<samp>{{ release.changelog }}</samp>
{% endblock %}