{% extends "layout.html" %}

{% block title %}Sessions{% endblock %}

{% block content %}
<h1>Sessions</h1>

<center>
  <div class="btn-group" role="group">
    <a class="btn btn-secondary {% if page == 0 %}disabled{% endif %}" href="?page={{ page }}"><span class="fa fa-angle-left"></span></a>
    {% for i in 1..pagesTotal %}
      <a class="btn btn-secondary {% if page + 1 == i %}active{% endif %}" href="?page={{ i }}">{{ i }}</a>
    {% endfor %}
    <a class="btn btn-secondary {% if page == pagesTotal - 1 %}disabled{% endif %}" href="?page={{ page + 2 }}"><span class="fa fa-angle-right"></span></a>
  </div>
</center>

<table class="table">
  <thead class="thead-default">
    <tr>
      <th width="25%">Date</th>
      <th width="75%">Sessions</th>
    </tr>
  </thead>
  <tbody>
    {% for session in sessions %}
    <tr>
      <td>{{ session.date }}</td>
      <td>{{ session.count }}</td>
    </tr>
  </tbody>
  {% endfor %}
</table>

<center>
  <div class="btn-group" role="group" style="margin-bottom: 0px">
    <a class="btn btn-secondary {% if page == 0 %}disabled{% endif %}" href="?page={{ page }}"><span class="fa fa-angle-left"></span></a>
    {% for i in 1..pagesTotal %}
      <a class="btn btn-secondary {% if page + 1 == i %}active{% endif %}" href="?page={{ i }}">{{ i }}</a>
    {% endfor %}
    <a class="btn btn-secondary {% if page == pagesTotal - 1 %}disabled{% endif %}" href="?page={{ page + 2 }}"><span class="fa fa-angle-right"></span></a>
  </div>
</center>

{% endblock %}