{% extends "layout.html" %}

{% block title %}Edit{% endblock %}

{% block content %}
<h1>Edit</h1>

<div class="clearfix"></div>

<ol class="breadcrumb">
  <li class="breadcrumb-item"><a href="/wiki">Wiki</a></li>
  <li class="breadcrumb-item"><a href="/wiki/{{ wiki.url }}">{{ wiki.name }}</a></li>
  <li class="breadcrumb-item">Edit</li>
</ol>

<form method="post">
    <div class="form-group">
    <label for="name">Name</label>
    <input type="text" name="name" id="name" class="form-control" value="{{ wiki.name }}">
    <small class="form-text text-muted">Changing the name of this page won't change the references from other pages to this page!</small>
  </div>
  <div class="form-group">
    <label for="body">Body</label>
    <textarea class="form-control" rows="20" name="body" id="body">{{ wiki.revision.body }}</textarea>
  </div>
  <input type="submit" class="btn btn-primary" name="submit" value="Edit">
  <input type="submit" class="btn btn-secondary" name="submit_back" value="Edit and go back">
</form>
{% endblock %}