{% extends "layout.html" %}

{% block title %}Revisions{% endblock %}

{% block content %}
<h1 class="float-lg-left">Revisions</h1>

<div class="clearfix"></div>

<ol class="breadcrumb">
  <li class="breadcrumb-item"><a href="/wiki">Wiki</a></li>
  <li class="breadcrumb-item"><a href="/wiki/{{ wiki.url }}">{{ wiki.name }}</a></li>
  <li class="breadcrumb-item">Revisions</li>
</ol>

<table class="table">
  <thead class="thead-default">
    <tr>
      <th width="10%">#</th>
      <th width="20%">Date</th>
      <th width="20%">User</th>
      <th width="50%">Revert?</th>
    </tr>
  </thead>
  <tbody>
    {% set id = revisions|length %}
    {% for revision in revisions %}
    <tr>
      <td>{{ id }}</td>
      <td><a href="/wiki/{{ wiki.url }}/{{ revision.hash }}">{{ revision.date|date("m/d/Y H:i:s") }}</a></td>
      <td><a href="/profile/{{ revision.user.username }}">{{ revision.user.username }}</a></td>
      <td>
        {% if revision.reverted_from != 0 %}
          Yes, by <a href="/profile/{{ revision.revertedBy.username }}">{{ revision.revertedBy.username }}</a> from <a href="/wiki/{{ wiki.url }}/{{ revision.revertedFrom.hash }}">{{ revision.revertedFrom.hash }}</a>
        {% else %}
          No
        {% endif %}
      </td>
    </tr>
    {% set id = id - 1 %}
    {% endfor %}
  </tbody>
</table>
{% endblock %}