{% extends "layout.html" %}

{% block title %}{{ wiki.name }}{% endblock %}

{% block content %}
<h1 class="float-lg-left">
  {% if wiki.icon != null %}
    <img src="{{ icon(wiki.icon) }}" class="wiki-icon">
  {% endif %}

  {{ wiki.name }}
</h1>

<div class="btn-group float-lg-right" role="group">
  <a href="/wiki/{{ wiki.url }}/revisions" class="btn btn-secondary"><span class="fa fa-file-o"></span> Revisions</a>
  {% if can('editor') %}
    <a href="/wiki/pages" class="btn btn-secondary"><span class="fa fa-list"></span> Pages</a>
    <a href="/wiki/create" class="btn btn-secondary"><span class="fa fa-plus"></span> Create</a>
    <a href="/wiki/create?copy={{ wiki.url }}" class="btn btn-secondary"><span class="fa fa-files-o"></span> Copy</a>
    {% if wiki.status == 0 %}
      <a href="/wiki/{{ wiki.url }}/delete" class="btn btn-secondary"><span class="fa fa-trash-o"></span> Delete</a>
    {% elseif wiki.status == 1 %}
      <a href="/wiki/{{ wiki.url }}/restore" class="btn btn-secondary"><span class="fa fa-history"></span> Restore</a>
    {% endif %}
    <a href="/wiki/{{ wiki.url }}/edit" class="btn btn-secondary"><span class="fa fa-pencil"></span> Edit</a>
    {% if old %}
    <a href="/wiki/{{ wiki.url }}/{{ wiki.revision.hash }}/revert" class="btn btn-secondary"><span class="fa fa-pencil"></span> Revert to this version</a>
    {% endif %}
  {% endif %}
</div>

<div class="clearfix"></div>

<ol class="breadcrumb">
  <li class="breadcrumb-item"><a href="/wiki">Wiki</a></li>
  <li class="breadcrumb-item active">{{ wiki.name }}</li>
</ol>

{% if old %}
<div class="alert alert-warning" role="alert">Watching revision <strong>{{ wiki.revision.hash }}</strong>.</div>
{% endif %}

{% if wiki.status == 1 %}
<div class="alert alert-danger" role="alert">This wiki page is deleted.</div>
{% endif %}

<div class="row row-offcanvas row-offcanvas-right">
  <div class="col-sm-9">
    {{ wiki.revision.body|raw }}

    <div class="card card-outline-secondary text-xs" style="margin-bottom: 15px">
      <div class="card-block">
        <p {% if wiki.revision.reverted_from == 0 %}style="margin: 0px"{% endif %}>Last modified by <a href="/profile/{{ wiki.revision.user.username }}">{{ wiki.revision.user.username }}</a> at {{ wiki.revision.date|date("m/d/Y H:i:s") }}.</p>

        {% if wiki.revision.reverted_from != 0 %}
          <p style="margin: 0px">Reverted by <a href="/profile/{{ wiki.revision.revertedBy.username }}">{{ wiki.revision.revertedBy.username }}</a> from <a href="/wiki/{{ wiki.url }}/{{ wiki.revision.revertedFrom.hash }}">{{ wiki.revision.revertedFrom.hash }}</a>.</p>
        {% endif %}
      </div>
    </div>
  </div>
  <div class="col-sm-3 sidebar-offcanvas" id="sidebar">
    <div class="card">
      <div class="card-header">
        <ul class="nav nav-tabs card-header-tabs">
          <li class="nav-item">
            <a class="nav-link" data-toggle="tab" data-tab="guides" href="#">Guides</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="tab" data-tab="blocks" href="#">Blocks</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="tab" data-tab="items" href="#">Items</a>
          </li>
        </ul>
      </div>
      <div class="card-block">
      {% for sidebarTab in sidebarTabs %}
        <div style="display: none" class="sidebar" id="{{ sidebarTab.url }}">
          {{ sidebarTab.revision.body|raw }}

          {% if can('editor') %}
            <a href="/wiki/{{ sidebarTab.url }}/edit" class="btn btn-secondary btn-sm"><span class="fa fa-pencil"></span> Edit</a>
          {% endif %}
        </div>
      {% endfor %}
      </div>
    </div>
  </div>
</div>
{% endblock %}